.subscribeBox {
  margin-top: 50px;
  .subscribe {
    display: flex;
    justify-content: center;
  }
  .option {
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 4px 3px rgb(224, 222, 222);
    width: 870px;
    margin: 50px auto;
    padding-bottom: 20px;
  }
}
