.productTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
  padding: 15px 30px;
  width: 30%;
  border-bottom: 3px solid black;
  margin-bottom: 20px;
}

.subscribeProduct {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  div {
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 3px rgb(224, 222, 222);
    margin-left: 14px;
    margin-top: 6px;
    margin-bottom: 6px;
    img {
      width: 200px;
    }
    img:hover {
      background: linear-gradient(rgb(245, 245, 245), 50%, white);
    }
  }
}
