.product {
  background-color: white;
  height: 350px;
  margin-top: 100px;
  display: flex;
  width: 800px;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 100px;

  .productImg img {
    width: 100%;
    border-radius: 10px;
  }

  .productSelect {
    margin-top: 50px;
    margin-left: 50px;

    .productTitle {
      padding-right: 15px;
      h2 {
        font-size: 25px;
        font-weight: 700;
      }
    }

    p {
      margin-top: 8px;
      font-size: 20px;
      font-weight: 500;
      color: gray;
      padding-bottom: 10px;
      border-bottom: 1px solid gray;
    }

    .productType {
      margin-top: 30px;
      .type {
        width: 400px;
        cursor: pointer;
        font-weight: 500;
        color: rgb(88, 87, 87);
        margin-top: 20px;
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        border: none;
        background-color: #eef9fa;
        border-radius: 8px;
      }
      .typeBtn {
        button {
          cursor: pointer;
          border: none;
          border-radius: 10px;
          padding: 10px;
          background-color: #5dc5cc;
          color: white;
        }
      }
    }
  }
}
