@import '../../../styles/variables.scss';

.productList {
  display: flex;
  height: 350px;
  width: 800px;
  margin: $marginCenter;
  margin-top: 100px;
  margin-bottom: 20px;
  background-color: $colorWhite;
  border-radius: 20px;

  .productImg img {
    width: 100%;
    border-radius: 10px;
  }

  .productSelectBox {
    margin-top: 50px;
    margin-left: 50px;

    .productTitle {
      padding-right: 15px;

      h2 {
        font-size: 25px;
        font-weight: $weightBold;
      }

      p {
        padding-bottom: 10px;
        margin-top: 8px;
        border-bottom: $borderDarkgray;
        color: $colorGray;
        font-size: 20px;
        font-weight: $weightRegular;
      }
    }

    .productType {
      margin-top: 30px;

      .categoryType {
        @include flexSpaceBetweenCenter;
        width: 400px;
        margin-top: 20px;
        margin-right: 10px;
        padding: 5px 10px;
        background-color: $colorLightMint;
        color: rgb(88, 87, 87);
        border-radius: $ButtonBorderRadius;
        border: none;
        font-weight: $weightRegular;
        cursor: pointer;
      }
      .categoryType:hover {
        background-color: $colorWhite;
      }

      .typeSelectButton {
        button {
          padding: 10px;
          cursor: pointer;
          border: none;
          border-radius: 10px;
          background-color: $colorMint;
          color: $colorWhite;
        }
      }
    }
  }
}
