@import '../../styles/variables.scss';

.payment {
  width: 680px;
  @include flexSpaceBetweenCenter;
  margin: 0 auto;
}
.paymentUserInfo {
  .userInfo {
    .userAddress {
      margin-top: 10px;
    }
  }
  .userWrap {
    @include flexSpaceBetweenCenter;
    border-bottom: $borderGray;
    padding: 40px 0 20px 0;

    .modifyButtonWrap {
      padding-left: 70px;
    }
  }
}

.paymentMethod {
  margin: 50px 0;
  .methodTitle {
    font-size: $fontSemiLarge;
    padding: 40px 0;
  }
  .methodForm {
    .methodButton {
      width: 100%;
      border: $borderGray;
      background: none;
      color: $colorGray;
      margin-bottom: 10px;
      padding: 10px 34px;
    }
  }

  .payForm {
    margin-top: 30px;
    .payButton {
      width: 100%;
      padding: 10px 34px;
      border: none;
      background: $borderGray;
      color: $colorGray;
    }
  }
}
.paymentPayList {
  .orderProductList {
    @include flexCenter;
    border-bottom: $borderGray;
  }

  .orderProductImage {
    width: 100px;
  }

  .orderProductImage img {
    width: 100%;
  }
  .orderInfo {
    .productName {
      font-size: $fontRegular;
    }
  }

  .seperateInfo {
    padding-left: 40px;
  }

  .total {
    margin: 40px 0;

    .totalInfo {
      @include flexSpaceBetweenCenter;
      padding: 10px 0;
      li {
        font-size: $fontSmall;
        color: $colorGray;
      }
      &:nth-child(3) li {
        font-size: $fontRegular;
        color: #333;
      }
    }
  }
}
