@import '../../styles/variables.scss';

.paymentMethod {
  margin: 50px 0;
  .methodTitle {
    font-size: $fontSemiLarge;
    padding: 40px 0;
  }
  .methodForm {
    .methodButton {
      width: 100%;
      border: $borderGray;
      background: none;
      color: $colorGray;
      margin-bottom: 10px;
      padding: 10px 34px;
    }
  }

  .payForm {
    margin-top: 30px;
    .payButton {
      width: 100%;
      padding: 10px 34px;
      border: none;
      background: $borderGray;
      color: $colorGray;
    }
  }
}

.total {
  margin: 40px 0;

  .totalInfo {
    @include flexSpaceBetweenCenter;
    padding: 10px 0;
    li {
      font-size: $fontSmall;
      color: $colorGray;
    }
  }
}
