@import '../../styles/variables.scss';

.footer {
  background: #000;
  color: $colorWhite;
  padding: 15px 0;

  .footerMainWrap {
    @include flexSpaceBetweenCenter;
    padding: 15px 100px;
    .footerMainTag {
      @include flexSpaceBetweenCenter;

      .footerMainInfo {
        margin-left: 20px;
      }
      .footerMainInfo:first-child {
        width: 100px;
        margin-left: 0;
      }
      img {
        width: 100%;
      }
    }
  }
  .footerBottomWrap {
    padding: 40px 100px;
    border-top: 1px solid #fff;
    .footerMainInfo {
      padding: 5px 0;

      &:first-child {
        font-weight: $weightBold;
      }
    }
  }
}
