@import '../../styles/variables.scss';

.nav {
  @include flexCenter;
  padding: 0 20px;
  height: 65px;
  border-bottom: $borderDarkgray;
  background-color: $colorWhite;

  .navLogo {
    width: 220px;
    margin-right: 50px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';

    img {
      width: 100%;
      cursor: pointer;
    }
  }
  .navMenu {
    display: flex;
    text-align: center;
    width: 1280px;
    margin: $marginCenter;
    padding: 50px;

    ul {
      display: flex;
    }

    .navMenuIteams {
      color: $colorGray;
      cursor: pointer;
      padding: 20px;
    }
  }
  .navLoginCart {
    @include flexCenter;
    padding-right: 50px;

    .login {
      padding-right: 30px;
      width: 100px;
    }
  }
}
