@import '../../styles/variables.scss';

.nav {
  @include flexSpaceBetweenCenter;
  height: 60px;
  border-bottom: $borderDarkgray;
  background-color: $colorWhite;

  .navLogo {
    width: 120px;
    margin: 5px 0px 0 50px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';

    img {
      width: 100%;
      cursor: pointer;
    }
  }
  .navMenu {
    @include flexCenter;
    padding-right: 500px;

    .navMenuUl {
      @include flexStart;

      .navMenuItems {
        display: flex;
        justify-content: space-between;
        padding: 30px, 120px;
        margin: 30px;
        color: $colorGray;
        cursor: pointer;
      }
    }
  }
  .navLoginMenu {
    display: flex;

    .navLoginItems {
      @include flexCenter;
      margin-top: 50px;
      padding: 20px 40px;
      cursor: pointer;
    }

    .cartImg {
      margin: 60px 60px;

      img {
        width: 100%;
        cursor: pointer;
      }
    }
  }
}
