@import '../../styles/variables.scss';

.nav {
  @include flexCenter;
  height: 60px;
  border-bottom: $borderDarkgray;
  background-color: $colorWhite;

  .navLogo {
    width: 120px;
    margin: 5px 100px 0 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';

    img {
      width: 100%;
      cursor: pointer;
    }
  }
  .navMenu {
    @include flexStart;
    margin-right: 50px;

    .navMenuUl {
      @include flexStart;
      padding: 0 600px 0 30px;

      .navMenuItems {
        display: flex;
        justify-content: space-between;
        padding-right: 50px;
        margin: 10px;
        color: $colorGray;
        cursor: pointer;
      }
    }
  }
  .navLoginMenu {
    display: flex;

    .navLoginItems {
      @include flexCenter;
      padding: 20px 20px;
      cursor: pointer;
    }

    .cartImg {
      margin: 10px 20px;

      img {
        width: 100%;
        cursor: pointer;
      }
    }
  }
}
